<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <title>Le Social Market</title>

  <meta name="viewport" content="width=device-width" />
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Navigation -->
  <%= render partial: "layouts/navbar",
              locals: {
                menu: {
                  "#home" => "Accueil",
                  "#how" => "Comment ça marche ?",
                  "#footer" => "Contact",
                  #"#{shop_root}" => "La Social Boutique"
                }
              }
  %>

  <div id="top"></div>

  <!-- Header -->
  <header>
    <div class="container" id="home">
      <div class="col-lg-12">
        <div class="intro-text">
          <%= image_tag "logotsm.png", class: "img-responsive", size: "300x300" %>
          <div class="col-lg-12">
            <h3>Bienvenue au Social Market. <br>La boutique où vos bonnes affaires<br>sont aussi de bonnes actions.</h3>
            <!-- <a href="/shop"><button type="button" class="btn btn-outline">Découvrez nos offres tout de suite !</button></a> -->
            <div class="line-header">
            </div>
            <h3>Rejoignez vite notre communauté pour profiter de nos ventes flash solidaires!</h3>
            <div class="col-lg-12">
              <%= form_for @lead do |f| %>
                <%= f.email_field :mail, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :placeholder => "Adresse email"%>
                <%= f.submit "Je participe !", class: "btn-submit"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-bleu-bottom">
    </div>
    <div class="line-red-bottom">
    </div>
  </header>

  <section class="container title">
      <h1>Mais comment ça marche ?</h1>
  </section>

  <section class="container left first" id="how">
    <div class="number circle"><span class="">1</span></div>
    <div class="text blue">
      L’une de nos entreprises partenaires a un sacré coup de coeur pour un projet associatif. Elle se précipite de mettre des produits à vendre sur Le&nbsp;Social&nbsp;Market pour reverser une partie de ses bénéfices à&nbsp;l’élu&nbsp;de&nbsp;son&nbsp;coeur&nbsp;!
    </div>
    <div class="arrow">
    </div>
  </section>

  <section class="container right second">
    <div class="number circle"><span class="">2</span></div>
    <div class="text pink">
      Sitôt fait, sitôt répété. On vous envoie un mail pour vous prévenir&nbsp;! Nom de triple cupidon, vous êtes charmés par nos petits prix, nos excellents produits et les beaux projets associés. Et&nbsp;clic,&nbsp;dans&nbsp;mon&nbsp;panier&nbsp;!
    </div>
    <div class="arrow">
    </div>
  </section>

  <section class="container left third">
    <div class="number circle"><span class="">3</span></div>
    <div class="text blue">
      Et hop, vous venez d’apporter votre pierre à un projet qui oeuvre pour un monde plus durable, plus responsable et plus joyeux&nbsp;! Oui, car une bonne partie du montant sera reversée au&nbsp;projet&nbsp;partenaire&nbsp;de&nbsp;la&nbsp;vente&nbsp;!
    </div>
      <!-- <a href="/shop"><button type="button" class="btn btn-outline">Découvrez nos offres tout de suite !</button></a> -->
  </section>

  <section class="end lines-top">
    <div class="container newsletter-end">
      <div class="col-lg-12">
        <p>Un monde plus durable, plus responsable et plus joyeux, ça vous tente&nbsp;?<br>Rejoignez notre communauté&nbsp;!</p>
      </div>
      <div class="newsletter_end">
        <%= form_for @lead do |f| %>
          <%= f.email_field :mail, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :placeholder => "Adresse email"%>
          <%= f.submit "Je participe !", class: "btn-submit"%>
        <% end %>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%= render "layouts/footer" %>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <%= render "layouts/scroll_top" %>

</body>

<!-- Do not include in head or no highlight in header on active section -->
<%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>

</html>
