<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <title>Le Social Market</title>

  <meta name="viewport" content="width=device-width" />
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- Navigation -->
  <%= render partial: "layouts/navbar",
              locals: {
                menu: {
                  "/" => "Accueil"
                  #"#{shop_root}" => "La Social Boutique"
                }
              }
  %>

  <div id="top"></div>

  <section class="container" >
    <section class="container title">
    	<h1>Mentions Légales</h1>
    </section>
    <p align="left" style="font-weight:normal">
      <br><center>
      Association Le Social Market, loi 1901<br>
      Domiciliée chez Cécile Compte 57 rue du cherche-midi<br>
      75006 Paris</center>
    </p>
  </section>

  <!-- Footer -->
  <%= render "layouts/footer" %>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <%= render "layouts/scroll_top" %>

</body>

<!-- Do not include in head or no highlight in header on active section -->
<%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>

</html>
